version: "3.9"

services:
  backend:
    build: ./backend
    container_name: chat_backend
    ports:
      - "8000:8000"

  frontend:
    build: ./frontend
    container_name: chat_frontend
    ports:
      - "3000:3000"
